services:
  # Backend JSON Server
  - type: web
    name: wishlist-api
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: npm run server
    envVars:
      - key: NODE_ENV
        value: production

  # Frontend Next.js
  - type: web
    name: wishlist-frontend
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
