@import "tailwindcss";
body{
   background-color: rgba(0, 0, 0, 0.3);
}
/*input{*/
/*   width: 70%;*/
/*   border: 1px darkgray;*/
/*   border-radius: 40px;*/
/*   padding: 8px 12px;*/
/*   margin: 0 auto;*/
/*}*/